    ul {
    list-style-type: none;
    padding: 0;
    margin-top:0px;
    margin-bottom:0px;
    text-align: left;
    }

 li:nth-child(1){ 
    list-style-type: '• ';
    list-style-position: inside;
    font-size: 20px;
    color: rgb(0, 217, 255);
  }
  
  li:nth-child(2){
    list-style-type: '• ';
    list-style-position: inside;
    font-size: 20px;
    color: red;
  }
  
  li:nth-child(3) {
    list-style-type: '• ';
    list-style-position: inside;
    font-size: 20px;
    color: green;
  }
